/* Общие стили для контейнера формы */
form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
input {
    padding: 12px 20px;
    /* Увеличен отступ */
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 8px;
    outline: none;
    transition: border-color 0.3s ease;
    width: 100%;
    /* Поля ввода занимают всю доступную ширину */
}
/* Стили для заголовка */
h1 {
    text-align: center;
    font-family: 'Arial', sans-serif;
    color: #333;
    margin-bottom: 20px;
    margin-top: 70px;
}

/* Стили для полей ввода */
input[type="text"],
input[type="email"],
input[type="tel"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 4px rgba(0, 123, 255, 0.5);
}

/* Стили для кнопки */
button[type="submit"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

/* Стили для placeholder */
input::placeholder {
    color: #aaa;
    font-size: 12px;
}

/* Адаптация для мобильных устройств */
@media (max-width: 480px) {
    form {
        padding: 15px;
    }

    input[type="text"],
    input[type="email"],
    input[type="tel"] {
        font-size: 12px;
    }

    button[type="submit"] {
        font-size: 14px;
    }
}
